<div id="main" class="container" style="text-align:center">
  <div class="main">
    <h1>MEAN-Stack CRUD</h1>
    </br>
    <table style="text-align:center;width:100%">
    <tr>
      <td><center><input class="form-control" ng-model="userInfo.name" style="width:80%"></input></center></td>
      <td><center><input class="form-control" ng-model="userInfo.email" style="width:80%"></input></center></td>
      <td><center><input class="form-control" ng-model="userInfo.phone" style="width:80%"></input></center></td>
      <td><center><button class="btn btn-success" ng-click="add(userInfo)">Add</button>&nbsp;<button class="btn  btn-primary" ng-click="update(userInfo)">Update</button>&nbsp;<button class="btn  btn-warning" ng-click="clear()">Clear</button></center></td>
    </tr>
  </table>
</br>
    <table class="table table-striped" style="text-align:center;width:100%">
      <thead>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Email</th>
        <th style="text-align:center">Phone</th>
        <th style="text-align:center">Action</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList" style="height:50px">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td><button class="btn  btn-info" ng-click="select(user._id)">Select</button>&nbsp;<button class="btn  btn-danger" ng-click="remove(user._id)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
